<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <sentry>
      <general>
        <loglevel>300</loglevel>
        <exclude_exceptions>0</exclude_exceptions>
        <profiles_sample_rate>1.0</profiles_sample_rate>
        <traces_sample_rate>1.0</traces_sample_rate>
      </general>
    </sentry>
  </default>
</config>
