<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mygento" translate="label" sortOrder="999999" class="mygento-tab">
            <label>Mygento Extensions</label>
        </tab>
        <section id="sentry" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sentry</label>
            <tab>mygento</tab>
            <resource>Mygento_Sentry::config</resource>
            <group id="general" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Setting</label>
                <field id="enabled" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="loglevel" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Log Level</label>
                    <source_model>Mygento\Sentry\Model\Source\Loglevel</source_model>
                </field>
                <field id="connection" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>DSN</label>
                    <comment>Like https://33345d455defffffffbb998c820fff@debug.youdomain.com/99</comment>
                </field>
                <field id="environment" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Environment</label>
                </field>
                <field id="error_message_filter_pattern" translate="label comment" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Error Message filter pattern</label>
                    <comment>RegExp pattern that will be passed to PHP preg_match function in order to filter out errors that shouldn't be sent to Sentry.</comment>
                </field>
                <field id="exclude_exceptions" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Exceptions Excluding</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="traces_enabled" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Trace</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="traces_sample_rate" translate="label" type="text" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Trace Rate</label>
                    <validate>validate-zero-or-greater</validate>
                    <depends>
                        <field id="traces_enabled">1</field>
                    </depends>
                </field>
                <field id="profile_enabled" translate="label" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Profiling</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="profiles_sample_rate" translate="label" type="text" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Profile Rate</label>
                    <validate>validate-zero-or-greater</validate>
                    <depends>
                        <field id="profile_enabled">1</field>
                    </depends>
                </field>
                <!--                <field id="customer_data" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Collect Customer Data</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>-->
            </group>
        </section>
    </system>
</config>